# Dependencias
node_modules/

# Builds
dist/
*.log

# Config locales / secretos
.env
.env.local
.env.*.local

# Herramientas y caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.cache/
turbo/
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Cursor / editor
.cursor/